USE [HEF]
GO
/****** Object:  Table [dbo].[CRITERIA]    Script Date: 3/20/2015 11:46:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CRITERIA](
	[SCHL_SEQ] [bigint] NOT NULL,
	[DESCR] [varchar](max) NOT NULL,
	[APPLICATION_IND] [bit] NOT NULL,
	[REQUIRED] [bit] NOT NULL,
	[ACTIVE] [bit] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DONORS]    Script Date: 3/20/2015 11:46:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DONORS](
	[NAME] [varchar](50) NOT NULL,
	[CITY] [varchar](50) NOT NULL,
	[STATE] [varchar](50) NOT NULL,
	[ZIP] [int] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ORGANIZATIONS]    Script Date: 3/20/2015 11:46:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ORGANIZATIONS](
	[ORG_SEQ] [bigint] NOT NULL,
	[NAME] [varchar](50) NOT NULL,
	[ADDRESS_LINE1] [varchar](50) NOT NULL,
	[ADDRESS_LINE2] [varchar](50) NOT NULL,
	[CITY] [varchar](50) NOT NULL,
	[STATE] [varchar](50) NOT NULL,
	[POSTAL_CODE] [int] NOT NULL,
 CONSTRAINT [PK_ORGANIZATIONS] PRIMARY KEY CLUSTERED 
(
	[ORG_SEQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[QUESTIONS]    Script Date: 3/20/2015 11:46:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[QUESTIONS](
	[QUESTION_SEQ] [bit] NOT NULL,
	[DESCR] [varchar](max) NOT NULL,
	[SCHL_TYPE] [varchar](50) NOT NULL,
	[PREV_SEQ] [bigint] NULL,
	[NEXT_SEQ] [bigint] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[REVIEWERS]    Script Date: 3/20/2015 11:46:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[REVIEWERS](
	[USER_SEQ] [bigint] NOT NULL,
	[ACADEMIC_YEAR] [int] NULL,
	[FIRST_NAME] [varchar](50) NULL,
	[LAST_NAME] [varchar](50) NULL,
	[COUNTRY] [varchar](50) NULL,
	[GENDER] [varchar](50) NULL,
	[ADDRESS_LINE1] [varchar](50) NULL,
	[ADDRESS_LINE2] [varchar](50) NULL,
	[CITY] [varchar](50) NULL,
	[STATE] [varchar](50) NULL,
	[COUNTY] [varchar](50) NULL,
	[POSTAL_CODE] [int] NULL,
	[HOME_PHONE] [varchar](50) NULL,
	[WORK_PHONE] [varchar](50) NULL,
	[CELL_PHONE] [varchar](50) NULL,
	[EMAIL] [varchar](50) NULL,
	[NOTES] [varchar](max) NULL,
	[BAD_EMAIL] [bit] NULL,
	[ORG_SEQ] [int] NULL,
	[REVIEWER_ID] [int] NOT NULL,
 CONSTRAINT [PK_REVIEWERS] PRIMARY KEY CLUSTERED 
(
	[REVIEWER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SCHOLARSHIPS]    Script Date: 3/20/2015 11:46:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SCHOLARSHIPS](
	[SCHL_SEQ] [bigint] NOT NULL,
	[TITLE] [varchar](50) NOT NULL,
	[DESCR] [varchar](50) NULL,
	[TYPE] [varchar](50) NOT NULL,
	[DATE_AVAILABLE] [date] NOT NULL,
	[AMOUNT_TYPE] [varchar](50) NOT NULL,
	[TOTAL_FUNDS] [bigint] NOT NULL,
	[LENGTH] [int] NOT NULL,
	[DEADLINE] [date] NOT NULL,
	[NUMBER_AWARDED] [int] NOT NULL,
	[AMOUNT_PER_RECIPIENT] [int] NOT NULL,
	[NUMBER_INSTALLMENTS] [int] NOT NULL,
	[AMOUNT_PER_INSTALLMENT] [int] NOT NULL,
	[CREDITS_REQUIRED] [int] NOT NULL,
	[GPA_REQUIRED] [int] NULL,
	[ENDOWMENT_IND] [bit] NULL,
	[RENEW_IND] [bit] NULL,
	[REVIEW_START_DATE] [datetime2](7) NULL,
	[REVIEW_END_DATE] [datetime2](7) NULL,
	[SELECTION] [varchar](50) NULL,
	[SELECTION_BASIS] [varchar](50) NULL,
	[APPROVED_USE_FUNDS] [varchar](50) NULL,
	[DISBURSEMENT] [varchar](50) NULL,
	[AWARD_FREQUENCY] [int] NULL,
	[PRESENTED] [varchar](50) NULL,
	[AWARD_SCRIPT] [varchar](50) NULL,
	[COMMENTS] [varchar](max) NULL,
 CONSTRAINT [PK_SCHOLARSHIPS] PRIMARY KEY CLUSTERED 
(
	[SCHL_SEQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[STUDENTS]    Script Date: 3/20/2015 11:46:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[STUDENTS](
	[USER_SEQ] [bigint] NOT NULL,
	[STUDENT_ID] [varchar](50) NOT NULL,
	[FIRST_NAME] [varchar](50) NOT NULL,
	[LAST_NAME] [varchar](50) NOT NULL,
	[SSN4] [int] NULL,
	[COUNTRY] [varchar](50) NOT NULL,
	[GENDER] [varchar](50) NOT NULL,
	[ETHNICITY] [varchar](50) NOT NULL,
	[DOB] [date] NOT NULL,
	[ADDRESS_LINE_1] [varchar](50) NOT NULL,
	[ADDRESS_LINE_2] [varchar](50) NULL,
	[ACADEMIC_YEAR] [int] NOT NULL,
	[CITY] [varchar](50) NOT NULL,
	[STATE] [varchar](50) NOT NULL,
	[COUNTY] [varchar](50) NOT NULL,
	[POSTAL_CODE] [int] NOT NULL,
	[HOME_PHONE] [varchar](50) NOT NULL,
	[WORK_PHONE] [varchar](50) NULL,
	[CELL_PHONE] [varchar](50) NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[NOTES] [varchar](max) NULL,
	[BAD_EMAIL] [bit] NULL,
	[RECEIVED_THANK_YOU] [bit] NULL,
	[FINANCIAL_NEED_ELIGIBLE] [bit] NULL,
	[ADJUSTED_GROSS_INCOME] [int] NULL,
	[NUMBER_IN_HOUSEHOLD] [int] NULL,
	[RECEIVED_SSN_COPY] [bit] NULL,
	[TOTAL_AWARD] [bigint] NULL,
 CONSTRAINT [PK_STUDENTS] PRIMARY KEY CLUSTERED 
(
	[STUDENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 3/20/2015 11:46:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USERS](
	[USER_SEQ] [bigint] NOT NULL,
	[USERNAME] [varchar](50) NOT NULL,
	[PASSWORD] [varchar](50) NOT NULL,
	[DATE_CREATED] [datetime2](7) NULL,
	[USER_CREATED] [bigint] NULL,
	[DATE_MODIFIED] [datetime2](7) NULL,
	[USER_MODIFIED] [bigint] NULL,
	[LAST_LOGIN_DATE] [datetime2](7) NULL,
	[PSWD_LAST_CHANGED] [datetime2](7) NULL,
	[STATUS] [nchar](10) NULL,
 CONSTRAINT [PK_USERS] PRIMARY KEY CLUSTERED 
(
	[USER_SEQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
