@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>813.231.1904</span>
    </p>
    <p>
        <span class="label">After Hours:</span>
        <span>???.555.????</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:Support@hillsfound.edu">Support@hillsfound.edu</a></span>
    </p>
    <p>
        <span class="label">Fred:</span>
        <span><a href="mailto:Fred@hillsfound.edu">Fred@hillsfound.edu</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        2306 N Howard Ave<br />
        Tampa, FL 33607
    </p>
</section>