@{
    ViewBag.Title = "Hillsborough Education Foundation";
}
@section featured {

}
        <div class="content-wrapper">
            <div style="background-image: url(../Images/login_Background.png); background-repeat: no-repeat; background-position: left top; height: 511px;">
                <table width="100%" height="100%">
                    <tr>
                        <td width="600">
                            &nbsp;
                        </td>
                        <td>
                            The scholarship application period is now closed for the 2014-2015 school year. High School Juniors/Seniors will be notified by mail in April if selected to receive a scholarship. The 6th-10th grade Take Stock In Children Scholarship applicants will be notified in March if selected as a finalist for a personal interview.
                        </td>
                    </tr>
                </table>
        </div>

