@{
    ViewBag.Title = "Donor";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Manage Donor</title>
</head>
<body>
    <h2>Manage Donor</h2>

    <div class="content-wrapper">
        <table class="table">
            <tr>
                <th>
                    Donor Name
                </th>
                <th>
                    City
                </th>
                <th>
                    State
                </th>
                <th>
                    Zip
                </th>
            </tr>

            <tr>
                <td>Example </td>
                <td>Tampa</td>
                <td>FL</td>
                <td>33333</td>
            </tr>
        </table>
        </div>
